/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 ╭───────────╯
          ╰─────────────╯ ╰─────────╯            */

#define COMBO_TERM_FAST 100
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* left hand */
ZMK_COMBO(excl,  &kp EXCL,    LH2 RH1 LT4,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(at,    &kp AT,      LH2 RH1 LT3,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(hash,  &kp HASH,    LH2 RH1 LT2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dllr,  &kp DLLR,    LH2 RH1 LT1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(prcnt, &kp PRCNT,   LH2 RH1 LT0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lt,    &kp LT,      LH2 RH1 LM3,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(gt,    &kp GT,      LH2 RH1 LM2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(fslh,  &kp FSLH,    LH2 RH1 LM1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(caret, &kp CARET,   LH2 RH1 LM0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(tilde, &kp TILDE,   LH2 RH1 LB2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(pipe,  &kp PIPE,    LH2 RH1 LB1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(under, &kp UNDER,   LH2 RH1 LB0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* right hand */
ZMK_COMBO(star,  &kp STAR,    LH2 RH1 RT0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lpar,  &kp LPAR,    LH2 RH1 RT1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar,  &kp RPAR,    LH2 RH1 RT2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus, &kp MINUS,   LH2 RH1 RT3,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(equal, &kp EQUAL,   LH2 RH1 RT4,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(amps,  &kp AMPS,    LH2 RH1 RM0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbkt,  &kp LBKT,    LH2 RH1 RM1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt,  &kp RBKT,    LH2 RH1 RM2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(grve,  &kp GRAVE,   LH2 RH1 RM3,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bslh,  &kp BSLH,    LH2 RH1 RM4,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(plus,  &kp PLUS,    LH2 RH1 RB0,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc,  &kp LBRC,    LH2 RH1 RB1,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc,  &kp RBRC,    LH2 RH1 RB2,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(colon, &kp COLON,   LH2 RH1 RB3,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(semi,  &kp SEMI,    LH2 RH1 RB4,     BASE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
